/* .wrapper {
    display: flex;
} */

.mid-header {
    font-size: 30px;
    text-align: center;
}

.profile-left {
    display: flex;
    flex-direction: column;
    padding: 80px 70px ;
}

.profile-right {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.dup-buttons {
    display: flex;
    flex-direction: column;
}
