header{
    position: fixed;
    left:0;
    top:0;
    padding:0 auto;
    width:100%;
    height: 90px;
    overflow:hidden;
}

.header_img{
    width:auto;
    height: 70px;
}

.login_link{
    font-weight: 900;
    font-size: 15px;
    font-family: 'NanumBarunGothicLight';
    padding: 0 5px;
    margin-left: 78px;
    margin-right: 15px;
}
.signup_link{
    font-weight: 900;
    font-size: 15px;
    font-family: 'NanumBarunGothicLight';
    padding: 0 5px;
    margin-left: 15px;
}