.header_img{
    width:auto;
    height: 70px;
}

.login_link{
    font-weight: 900;
    font-size: 15px;
    font-family: 'NanumBarunGothicLight';
    padding: 0 5px;
    margin-left: 78px;
    margin-right: 15px;
}
.signup_link{
    font-weight: 900;
    font-size: 15px;
    font-family: 'NanumBarunGothicLight';
    padding: 0 5px;
    margin-right: 40px;
}
.my_page_link{
    font-weight: 900;
    font-size: 15px;
    font-family: 'NanumBarunGothicLight';
    padding: 0 5px;
    margin-right: 40px;
}
.logout_link{
    font-weight: 900;
    font-size: 15px;
    font-family: 'NanumBarunGothicLight';
    padding: 0 5px;
    margin-right: 40px;
}

.login_link:hover{
    color: grey;
}

.signup_link:hover{
    color: grey;
}

.my_page_link:hover{
    color: grey;
}

.logout_link:hover{
    color: grey;
}

