@font-face {
    font-family: "NanumBarunGothic";
    font-weight: normal;
    src: url("./fonts/NanumBarunGothic.ttf") format("truetype");
}
@font-face {
    font-family: "NanumBarunGothicBold";
    font-weight: normal;
    src: url("./fonts/NanumBarunGothicBold.ttf") format("truetype");
}
@font-face {
    font-family: "NanumBarunGothicLight";
    font-weight: normal;
    src: url("./fonts/NanumBarunGothicLight.ttf") format("truetype");
}
@font-face {
    font-family: "NanumBarunGothicUltraLight";
    font-weight: normal;
    src: url("./fonts/NanumBarunGothicUltraLight.ttf") format("truetype");
}

  
  body {
    font-family: "NanumBarunGothicLight";
    font-weight: 900;
    font-weight: normal;
    margin:0 auto;
  }

  a:link{
    text-decoration: none;
    color:black;
  } 
  a:visited, a:active{
    color:black;
  }

  h1{
    margin-left:200px
  }
